.card {
	width: 30%;
	height: 30vh;
	margin-bottom: 100px;
	opacity: 0.5;
	filter: saturate(20%);
	transition: 0.5s;

	&.on,
	&:hover {
		opacity: 1;
		filter: saturate(100%);
	}

	p {
		margin-top: 20px;
		color: #ccc;

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #777;
			margin-bottom: 15px;
		}
	}
}
