.counter {
	position: absolute;
	top: 20vh;
	right: 27vw;
	font-size: 20px;
	color: #888;
	opacity: 0.5;
	font-style: italic;

	strong {
		font-size: 70px;
		color: #fff;
	}
	span {
		font-size: 20px;
		color: #888;
		margin-left: 15px;
	}
}
