.layout {
	width: 100%;
	height: 100vh;
	background: #222;
	padding: 15vh 10vw 5vh;

	.content {
		color: #ccc;
		height: 100%;
		// border: 1px solid orange;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			background: orange;
		}

		> main {
			width: 100%;
		}

		> section {
			width: 80vw;
			margin: 0 auto;
		}
	}
}
