.tit {
	color: #333;
	font-family: var(--font-nanum);

	a {
		font-size: inherit;
		color: inherit;
		font-family: inherit;
	}

	&:hover {
		color: orange;
	}

	&.tit_logo {
		font-family: var(--font-nanum);
		font-weight: 500;
		color: #fff;
		font-size: 22px;
	}

	&.tit_slogan {
		font-size: 10vw;
		color: orange;
	}
}

.tit2 {
	color: #333;
	font-family: var(--font-work);
	font-weight: 500;
}
